/* CSS Document */
html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  background-color: #f0f0f0;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

header span {
  background-color: skyblue;
  padding: 0 5px;
  border-radius: 5% 20% 5% 20%;
}

nav {
  height: 100%;
  padding: 15px 0;
  background-color: #fff;
}

nav ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

nav ul li a {
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }

  main > section {
    width: 70%;
  }

  main > aside {
    width: 30%;
  }

}

main > section h2 {
  margin: 0;
  margin-bottom: 10px;
}

main > section > div >*:not(:last-child) {
  margin-bottom: 20px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
}

article h3, article p {
  margin: 0;
}

article button {
  padding: 10px;
  border: none;
  background-color: #ea4959;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

main > aside {
  padding: 20px;
  background-color: #e5e5e5;
}

main > aside h3 {
  margin: 0;
  margin-bottom: 10px;
}

main > aside ul {
  padding: 0 20px;
}

main > aside ul {
  list-style-type: '✅';
}

footer {
  background-color: #e5e5e5;
  padding: 10px 20px;
  text-align: center;
}

/* 📌 Posicionamiento */
/* ✅ static */

header {
  position: static;

  /* ✅ relative */

  /* position: relative;
  top: 20px;
  right: 100px;
} *//* ✅ Propiedades Offset
  1. top
  2. right
  3. bottom
  4. left
*/

/* ✅ absolute */
position: absolute;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav > div {
  position: relative;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}




/* ✅ fixed */

/* ✅ sticky */

/* 📌 Apilamiento */
/* ✅ z-index */
