/* CSS Document */
html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  padding: 10px 20px;
  text-align: center;
}

header span {
  background-color: skyblue;
  padding: 0 5px;
  border-radius: 5% 20% 5% 20%;
}

main {
  padding: 10px 20px;
}

footer {
  padding: 10px 20px;
  text-align: center;
}
